body {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    overflow-x: hidden;
}

/*---------------------------------- Navigation */

.nav-bar-bg {
    background-color: #424242;
    font-family: 'Lato', sans-serif;
}

.nav-bar-bg a {
    letter-spacing: 1px;
    color: #ece3d3;
    font-weight: 800;
    font-size: 12px;
    text-shadow: 0.2px 1px black;
}

.nav-bar-bg img {
    max-width: 200px;
    max-height: 50px;
    padding: 13px 0px 0px 20px;
}

.sidenav li>a {
    letter-spacing: 1px;
    color: #ece3d3;
    font-weight: 700;
}

.nav-btn:hover {
    border-bottom: 2px solid #dd5540;
    text-shadow: 0.7px 2px black;
    height: 64px;
}

.sidenav li>a:hover{
    letter-spacing: 1px;
    color: #ece3d3;
    font-weight: 700;
    border-bottom: 2px solid #dd5540;
    text-shadow: 0.7px 2px black;
}

.mandatory {
    color: #dd5f4c;
}

.buttons {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    color: #ede4d5;
    background-color: #424242;
}

.buttons:hover {
    font-family: 'Titillium Web', sans-serif;
    color: #ede4d5;
    background-color: #dd5f4c;
}

.block {
    display: block;
    overflow: auto;
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 150px;
    box-shadow: rgba(56, 59, 61, 0.322) 0px 8px 15px;
    background-color: #3c8699;
    margin-top: -2px;
}

.full {
    width: 100%;
}

.header-text {
    font-size: 5vh;
    font-weight: 400;
    color: #424242;
}

.lesson-frame {
    border-width: 2px;
    background-color: white;
}

.lesson-frame h6 {
    padding-top: 30px;
    margin-top: -38px;
}

.lesson-box {
    width: 86%;
    color: black;
    background-color: white;
    display: block;
    overflow: auto;
    margin-bottom: 40px;
    overflow-y: hidden;
}

.lesson-box .video-box {
    margin: 10px;
}

.video-box {
    position: relative;
    padding: 30px 0 50.25% 0;
    height: 0;
    overflow: hidden;
    margin: 10px;
    float: left;
}

.video-box iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    max-height: 390px;
    width: 100%;
    max-width: 700px;
    padding-bottom: 6px;
}

.lesson-title {
    font-weight: 700;
    font-size: 4vh;
    padding: 40px 0px 40px 0px;
    color: #ede4d5;
}

.description-text {
    margin: 20px 0px;
    color: #3c8699;
    text-align: center;
    padding: 16px 0px;
}

.lesson-media-text {
    font-size: 14px;
}

.audio-box {
    padding: 10px 20px 20px 10px;
    margin-bottom: 60px;
}

.scrollspy-box {
    position: fixed;
    width: 100px;
    height: 170px;
    z-index: 2;
    font-family: 'Titillium Web';
    font-family: 300;
    font-size: 15px;
    top: 12vh;
    right: 0;
    text-align: right;
    padding-right: 8px;
}

.scrollspy-box .table-of-contents a {
    color: black;
}

.table-of-contents a.active {
    color: black;
    font-weight: 800;
    padding-left: 6px;
    border-left: 3px solid #dd5540;
    padding-right: 1px;
}

.add-lessons-box {
    color: #424242;
    background-color: #ede4d5ab;
    margin: 13px;
}

.range-field {
    padding-left: 40px;
}

.switch {
    padding-left: 25px;
}

.mandatory-i {
    margin-top: -15px;
}

.all-icons {
    margin-top: 8px;
}

.lesson-icons {
    font-size: 3.3vh;
    margin: 0px 10px;
    color: #dd5540;
}

.audio_upload form {
    padding-left: 40px;
    padding-bottom: 40px;
}

.video-url {
    padding-left: 40px;
    background-color: whitesmoke;
}

.toggle-video {
    display: none;
    width: 100%
}

.toggle-audio {
    display: none;
}

audio {
    width: 100%;
}

.toggle-sub-styles {
    display: none;
}

.mute-audio {
    display: none;
}

.mute-video {
    display: none;
}

.upload-box {
    background-color: whitesmoke;
}

/*---------------------------------- Lesson Page */
/*------------------------ Student Actions  */

.student-text {
    margin: 20px 10px 10px 10px;
    padding: 10px;
    height: 230px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: white;
    overflow-x: auto;
}

.student-upload {
    width: 100%;
}

.file-upload {
    margin: 20px 10px 10px 10px;
    padding: 10px;
    height: 250px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: white;
}

.file-button {
    background-color: #424242;
    color: #ece3d3;
}

.file-button:hover {
    background-color: #dd5540;
    color: #ece3d3;
}

.send-button {
    text-align: center;
    background-color: #424242;
    color: #ece3d3;
    font-weight: 600;
    margin-top: 20px;
}

.send-button:hover {
    background-color: #dd5540;
    color: #ece3d3;
}

.submit-btn-box {
    text-align: center;
}

.assignment {
    font-weight: 700;
    color: #424242;
}

.assignment-label {
    bottom: 50;
    padding: 0px 20px 0px 20px;
    color: #dd5540;
    width: 98%;
}

.assignment-box {
    width: 100%;
    margin-top: 20px;
    float: right;
    padding: 10px;
    background-color: #ece3d3ef;
}

.assignment-box-empty {
    width: 100%;
    height: 440px;
    margin-top: 20px;
    float: right;
    padding: 10px;
    background-color: #ece3d3;
}

/*---------------------------------- Profile*/

.profile-box {
    background-color: #ece3d3;
    height: 60vh;
    width: 100%;
    margin: 15px;
}

.message-box {
    color: #dd5540;
    font-size: 6vh;
}

/*---------------------------------- Login*/

.login-register-check {
    color: #dd5540;
    letter-spacing: 1px;
}

.login-box {
    background-color: #ece3d3;
    padding: 10px;
    margin: 10px;
}

.login-frame {
    margin: 12px;
    padding: 10px 30px 20px 30px;
}

/*---------------------------------- Regristretion*/

.register-box {
    background-color: #ece3d3;
    padding: 10px;
    margin: 10px;
}

.register-frame {
    height: 20%;
    margin: 12px;
    padding: 10px 30px 20px 30px;
}

/*---------------------------------- Footer*/

.footer {
    background-color: #424242;
    color: #ece3d3;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    text-shadow: 0.2px 1px black;
    letter-spacing: 1px;
}

.footer a {
    color: #ece3d3;
    font-family: 'Lato', sans-serif;
    text-shadow: 0.2px 1px black;
    letter-spacing: 1px;
}

.footer-btn:hover {
    text-shadow: 0.7px 2px black;
    padding-left: 5px;
    border-left: 3px solid #dd5540;
}

.footer i {
    font-size: 20px;
    margin-top: 4px;
}

.footer i:hover {
    color: #dd5540;
}

.footer-copyright .copyright {
    color: #ece3d3;
    text-align: center;
    font-size: 10px;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: #d43f29;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #ec6d59;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: 2px solid #dd5540;
    background-color: #dd5540;
}


element.style {
    height: 30px;
    width: 30px;
    top: -30px;
    margin-left: 33px;
    left: 0px;
}

input[type=range]+.thumb.active {
    border-radius: 50% 50% 50% 0;
}

input[type=range]+.thumb {
    background-color: #dd5540;
}

.dropdown-content li>a,
.dropdown-content li>span {
    color: #dd5540;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #dd5540;
}

/*---------------------------------- Screensize*/

/*------------------------------ Phone*/

@media (min-width: 319px) {
    .video-box {
        width: 100%;
        max-width: 100%;
        margin: 0px;
    }

    .lesson-box .video-box {
        margin: 0px;
    }
}

/*------------------------------ Tablets*/


@media (min-width: 767px) {
    .scrollspy-box {
        font-size: 16px;
        padding-right: 20px;
    }

    .table-of-contents a.active {
        padding-left: 10px;
        padding-right: 5px;
    }

    .video-box {
        padding-right: 10px;
    }

    .lesson-box .video-box {
        margin: 10px 0px 10px 35px;
        max-width: 500px;
    }

    .audio-box audio {
        max-width: 100%;
        margin-bottom: 150px;
    }

    .student-text {
        margin: 17px 20px 10px 20px;
        height: 230px;
        border-top: none;
        border-left: none;
        border-right: none;
    }

    .file-upload {
        margin: 17px 20px 10px 20px;
        height: 200px;
        border-top: none;
        border-left: none;
        border-right: none;
    }

    .add-lessons-box {
        padding: 26px;
        margin: 40px;
    }

    .login-box {
        height: 100vh;
        padding: 40px;
        margin: 15px;
    }

    .login-frame {
        margin: 12px;
        padding: 10px 20px 20px 50px;
    }

    .register-box {
        height: 135vh;
        padding: 40px;
        margin: 15px;
    }

    .register-frame {
        margin: 12px;
        padding: 10px 20px 20px 50px;
    }

    .assignment-box {
        width: 100%;
        padding: 20px;
        margin-top: -15%;
    }
    .lesson-media-text {
        margin-left: 25px;
    }
}

@media (min-width: 1280px) {
    .register-box {
        height: 100vh;
    }

    .login-box {
        height: 80vh;
    }
}