body {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
}

/*---------------------------------- Navigation */

.nav-bar-bg {
    background-color: #424242;
    font-family: 'Lato', sans-serif;
}

.nav-bar-bg a {
    letter-spacing: 1px;
    color: #ece3d3;
    font-weight: 600;
    font-size: 12px;
    text-shadow: 0.2px 1px black;
}

.nav-bar-bg img {
    max-width: 200px;
    max-height: 50px;
    padding: 13px 0px 0px 20px;
}

.sidenav li>a {
    letter-spacing: 1px;
    color: #ece3d3;
    font-weight: 700;
}

.mandatory {
    color: #ede4d5;
}

.header-text {
    font-weight: 300;
}

.buttons {
    font-family: 'Titillium Web', sans-serif;
}

.block {
    height: 700px;
    width: 100%;
    margin-bottom: 200px;
    box-shadow: rgba(56, 59, 61, 0.322) 0px 8px 15px;
    background-color: #429E9D;
}

.full {
    width: 100%;
}

.lesson-frame {
    margin-top: 20px;
    border-width: 2px;
    box-shadow: rgba(56, 59, 61, 0.322) 0px 8px 24px;
    background-color: white;
    height: 500px;
}

.lesson-frame h6 {
    padding-top: 10px;
    margin-top: -38px;
}

.lesson-box {
    position: relative;
    max-height: 95vh;
    min-height: 50%;
    width: 86%;
    color: black;
    background-color: white;
    height: 500px;
}

.lesson-box .video-box {
    margin: 10px;
}

.video-box {
    position: relative;
    padding: 30px 0 50.25% 0;
    height: 0;
    overflow: hidden;
    margin: 10px;
    width: 80%;
    max-width: 80%;
    float: left;
}

.video-box iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    max-height: 390px;
    width: 100%;
    max-width: 500px;
    padding-bottom: 6px;
}

.lesson-title {
    font-weight: 700;
    font-size: 4vh;
    padding: 50px 0px 10px 0px;
}

.description-text {
    margin: 20px 0px;
    color: #429E9D;
    text-align: center;
    padding: 16px 0px;
}

.audio-box {
    padding: 10px 20px 20px 10px
}

.scrollspy-box {
    position: fixed;
    width: 100px;
    height: 170px;
    z-index: 2;
    font-family: 'Titillium Web';
    font-family: 300;
    font-size: 15px;
    top: 12vh;
    right: 0;
    text-align: right;
    padding-right: 8px;
}

.scrollspy-box .table-of-contents a {
    color: black;
}

.table-of-contents a.active {
    color: black;
    font-weight: 800;
    padding-left: 6px;
    border-left: 3px solid #cb99c9;
    padding-right: 1px;
}

.range-field {
    padding-left: 40px;
}

.switch {
    padding-left: 25px;
}

.mandatory-i {
    margin-top: -15px;
}

.all-icons {
    margin-top: 8px;
}

.lesson-icons {
    font-size: 3.3vh;
    margin: 0px 10px;
    color: #cb99c9;
}

.audio_upload form {
    padding-left: 40px;
    padding-bottom: 40px;
}

.video-url {
    padding-left: 40px;
}

.add-lessons-box {
    margin: 40px;
}

.toggle-video {
    display: none;
    width: 100%
}

.toggle-audio {
    display: none;
}

audio {
    width: 100%;
}

.toggle-sub-styles {
    display: none;
}

/*---------------------------------- Lesson Page */
/*------------------------ Student Actions  */

.student-action-box {
    position: relative;
    top: 370px;
    right: -0px;
}

.student-action-box p {
    font-weight: 400;
    padding-bottom: 10px;
}

.student-action-box i {
    color: #ece3d3;
    font-weight: 600;
}

.student-action-box a {
    background-color: #424242;
}

.btn-floating:hover {
    background-color: #cb99c9;
}

/*---------------------------------- Footer*/

.footer {
    background-color: #424242;
    color: #ece3d3;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    text-shadow: 0.2px 1px black;
    letter-spacing: 1px;
}

.footer a {
    color: #ece3d3;
    font-family: 'Lato', sans-serif;
    text-shadow: 0.2px 1px black;
    letter-spacing: 1px;
}

.footer-btn:hover {
    text-shadow: 0.7px 2px black;
    padding-left: 5px;
    border-left: 3px solid #cb99c9;
}

.footer i {
    font-size: 20px;
    margin-top: 4px;
}

.footer i:hover {
    color: #cb99c9;
}

.footer-copyright .copyright {
    color: #ece3d3;
    text-align: center;
    font-size: 10px;
}


/*---------------------------------- Screensize*/

/*------------------------------ Phone*/

@media (min-width: 319px) {
    .video-box {
        width: 100%;
        max-width: 100%;
        margin: 0px;
    }

    .lesson-box .video-box {
        margin: 0px;
    }
}

/*------------------------------ Tablets*/


@media (min-width: 767px) {
    .scrollspy-box {
        font-size: 16px;
        padding-right: 20px;
    }

    .table-of-contents a.active {
        padding-left: 10px;
        padding-right: 5px;
    }

    .student-action-box {
        position: relative;
        top: 400px;
    }

    .lesson-box .video-box {
        margin: 10px;
    }

    .video-box iframe {
        max-width: 50%;
        padding-bottom: 10px;
    }

    .audio-box audio {
        max-width: 50%;
    }
}