body {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
}

.header-text {
    font-weight: 300;
}

.buttons {
    font-family: 'Titillium Web', sans-serif;
}

.block {
    height: 100vh;
    width: 100%;
    margin-bottom: 120px;
    box-shadow: rgba(56, 59, 61, 0.322) 0px 8px 15px;
}

.full {
    width: 100%;
}

.lesson-frame {
    margin-top: 20px;
    border-width: 2px;
    box-shadow: rgba(56, 59, 61, 0.322) 0px 8px 24px;
    background-color: white;
    height: 500px;
}

.lesson-frame h6 {
    padding: 10px;
    margin-top: -38px;
}

.lesson-box {
    position: relative;
    max-height: 95vh;
    min-height: 50%;
    width: 80%;
    color: black;
}

.lesson-deadline {
    color: teal;
}

.lesson-box .video-box {
    margin: 10px;
}

.video-box {
    position: relative;
    padding: 30px 0 50.25% 0;
    height: 0;
    overflow: hidden;
    margin: 10px;
    max-width: 70vh;
}

.video-box iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    max-height: 390px;
    width: 100%;
    max-width: 500px;
}

.lesson-title {
    font-weight: 700;
    font-size: 4vh;
    padding: 50px 0px 10px 0px;
}

.description-text {
    padding: 20px 0px;
}

.audio-box {
    padding: 0 10px 10px 10px;
}

.scrollspy-box {
    padding: 5px;
    position: fixed;
    text-align: right;
    float: right;
    right: 0;
    z-index: 2;
    font-family: 'Titillium Web', sans-serif;
    font-family: 300;
    background-color: #9575cd86;
}

.scrollspy-box .table-of-contents a {
    color: white
}

.scrollspy-box .table-of-contents a :active {
    color: black;
    font-weight: 900;
}

.range-field {
    padding-left: 40px;
}

.switch {
    padding-left: 25px;
}

.mandatory-i {
    margin-top: -15px;
}

.all-icons {
    margin-top: 8px;
}

.audio_upload form{
    padding-left: 40px;
    padding-bottom: 40px;
}

.video-url {
    padding-left: 40px;
}

.add-lessons-box {
    margin: 40px;
}