{% extends "base.html" %}
{% block content %}

<h3 class="center-align header-text">Add a new lesson:</h3>

<div class="row card-panel grey lighten-5 add-lessons-box z-depth-3">
    <form class="col s12 prefix" method="POST" action="{{ url_for('add_lesson') }}">
        <!-- Assigned Course -->
        <div class="row">
            <div class="input-field col s12">
                <select id="course_name" name="course_name" class="validate" required>
                    <option value="{{ course }}" selected>{{ course }}</option>
                </select>
                <label for="course_name">Assigned Course:</label>
            </div>
        </div>
        <!-- Lesson Title -->
        <div class="row">
            <div class="input-field col s12" method="POST" action="">
                <i class="fas fa-school prefix all-icons"></i>
                <input id="lesson_title" name="lesson_title" type="text" class="validate" minlength="3" maxlength="20"
                    required>
                <label for="lesson_title">Lesson Title</label>
            </div>
        </div>
        <!-- Lesson Description -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-plus prefix all-icons"></i>
                <input id="lesson_description" name="lesson_description" type="text" class="validate" minlength="3"
                    maxlength="100" required>
                <label for="lesson_description">Lesson Description</label>
            </div>
        </div>
        <!-- Lesson Nr -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-book prefix all-icons"></i>
                <select name="lesson_nr" id="lesson_nr" class="validate" required>
                    <option value="" disabled selected>This lesson comes:</option>
                    <option value="1">1st</option>
                    <option value="2">2nd</option>
                    <option value="3">3rd</option>
                    <option value="4">4th</option>
                    <option value="5">5th</option>
                    <option value="6">6th</option>
                </select>
                <label for="lesson_nr">Lesson Placement</label>
            </div>
        </div>
        <!-- Lesson Description -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-file-archive prefix all-icons"></i>
                <select name="course_module" id="course_module" class="validate" required>
                    <option value="1">Module 1</option>
                    <option value="2">Module 2</option>
                    <option value="3">Module 3</option>
                    <option value="4">Module 4</option>
                    <option value="5">Module 5</option>
                    <option value="6">Module 6</option>
                </select>
                <label for="course_module">Belongs to Module</label>
            </div>
        </div>
        <!-- Due Date -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-hourglass-start prefix"></i>
                    <div class="range-field">
                        <label for="due_date">Days to submission from student start</label>
                        <input name="due_date" id="due_date" type="range" min="0" max="150" class="validate" required/>
                    </div>
            </div>
        </div>
        <!-- Mandatory -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-exclamation-circle prefix mandatory-i"></i>
                <div class="switch">
                    <label for="is_mandatory">
                        <input type="checkbox" id="is_mandatory" name="is_mandatory">
                        <span class="lever"></span>
                        Mandatory?
                    </label>
                </div>
            </div>
        </div>
        <!-- Has Audio -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-file-audio prefix mandatory-i"></i>
                <div class="switch">
                    <label for="has_audio">
                        <input id="has_audio" name="has_audio" class="add-media" type="checkbox" >
                        <span onclick="audioUpload()" class="lever"></span>
                        Lesson has Audio?
                    </label>
                </div>
            </div>
        </div>
        <!-- Audio Upload -->
        <div id="toggle_audio" class="row toggle-audio card-panel z-depth-1">
            <div class="input-field col s12 m6 audio_upload">
                    <div class="file-field input-field">
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                        <div class="btn-small">
                            <input name="lesson_audio" id="lesson_audio" type="file">
                            <span>Choose Audio File</span>
                        </div>
                    </div>
            </div>
        </div>
        <!-- Has Video -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-file-video prefix mandatory-i"></i>
                <div class="switch">
                    <label for="has_video">
                        <input type="checkbox" id="has_video" name="has_video">
                        <span onclick="videoUpload()" class="lever"></span>
                        Lesson has Video?
                    </label>
                </div>
            </div>
        </div>
        <!-- Video Link -->
        <div id="toggle_video" class="row video-url toggle-video card-panel z-depth-1">
            <div class="input-field col s12 m6">
                <textarea id="lesson_video" name="lesson_video" class="materialize-textarea"
                    placeholder="https://www.youtube-nocookie.com/embed/t7DrJqcUviA"></textarea>
                <label for="lesson_video">Link for Youtube Embed</label>
                <p>Make sure to use the youtube url with "/embed/" included in link</p>
            </div>
        </div>
        <!-- Has Submission -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-paperclip prefix mandatory-i"></i>
                <div class="switch">
                    <label for="has_submission">
                        <input type="checkbox" id="has_submission" name="has_submission">
                        <span onclick="submissionUpload()" class="lever"></span>
                        Lesson has Submission?
                    </label>
                </div>
            </div>
        </div>
        <!-- Submission Style -->
        <div id="submission_style" class="row toggle-sub-styles card-panel z-depth-1">
            <div class="input-field col s12 m6">
                <!-- Lesson Test -->
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="lesson_test" name="lesson_test" minlength="10" maxlength="400"
                            class="materialize-textarea" placeholder="Assignment"></textarea>
                        <label for="lesson_test">Give your student an assignment:</label>
                    </div>
                </div>
                <div>
                    <label for="text_answer">
                        <input name="text_answer" id="text_answer" type="checkbox" class="filled-in" />
                        <span>Student sends text</span>
                    </label>
                </div>
                <div>
                    <label for="file_answer">
                        <input name="file_answer" id="file_answer" type="checkbox" class="filled-in" />
                        <span>Student uploads file</span>
                    </label>
                </div>
            </div>
        </div>
        <!-- Submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large send-button waves-effect">
                    Add Lesson <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}