<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,700;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>X-Versity</title>
</head>

<body>

    <header>
        <!-- Navbar -->
        <nav class="nav-bar-bg">
            <div class="nav-wrapper">
                <a href="{{ url_for('get_lessons') }}">
                    <img src="{{ url_for('static', filename='x-versity-logo.png') }}" alt="Logo for X-Versity">
                </a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a class="nav-btn" href="{{ url_for('get_lessons') }}">Home</a></li>
                    {% if session.user %}
                    <li><a class="nav-btn" href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                    {% if session.role|lower == "teacher"|lower %}
                    <li><a class="nav-btn" href="{{ url_for('add_lesson') }}">New Lesson</a></li>
                    {% endif %}
                    <li><a class="nav-btn" href="#">Manage Courses</a></li>
                    <li><a class="nav-btn" href="{{ url_for('logout') }}">Log out</a></li>
                    {% else %}
                    <li><a class="nav-btn" href="{{ url_for('login') }}">Log in</a></li>
                    <li><a class="nav-btn" href="{{ url_for('register') }}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <!-- Mobile Side Navbar -->
        <ul class="sidenav nav-bar-bg" id="mobile-demo">
            <a href="#">
                <img class="logo" src="{{ url_for('static', filename='x-versity-logo.png') }}" alt="Logo for X-Versity">
            </a>
            <li><a class="nav-btn" href="{{ url_for('get_lessons') }}">Home</a></li>
            {% if session.user %}
            <li><a class="nav-btn" href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
            {% if session.role|lower == "teacher"|lower %}
            <li><a class="nav-btn" href="{{ url_for('add_lesson') }}">New Lesson</a></li>
            {% endif %}
            <li><a class="nav-btn" href="#">Manage Courses</a></li>
            <li><a class="nav-btn" href="{{ url_for('logout') }}">Log out</a></li>
            {% else %}
            <li><a class="nav-btn" href="{{ url_for('login') }}">Log in</a></li>
            <li><a class="nav-btn" href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
        </ul>
    </header>
    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="row flashes">
            <h3 class="deep-purple-text text-lighten-2 center-align">{{ message }}</h3>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </section>

    <main>
        {% block content %}
        {% endblock %}
    </main>
    <!-- footer -->
    <footer class="page-footer footer z-depth-5">
        <div class="container">
            <div class="row">
                <div class="col s5">
                    <ul class="left">
                        <li><a class="footer-btn" href="{{ url_for('get_lessons') }}">Home</a></li>
                        <li><a class="footer-btn" href="{{ url_for('login') }}">Log in</a></li>
                        <li><a class="footer-btn" href="{{ url_for('logout') }}">Log out</a></li>
                        <li><a class="footer-btn" href="{{ url_for('register') }}">Register</a></li>
                    </ul>
                </div>
                <div class="col s5 right">
                    <ul class="right">
                        <li>
                            <a class="" href="https://www.facebook.com" target="_blank" rel="noopener">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a class="" href="https://www.instagram.com" target="_blank" rel="noopener">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a class="" href="https://www.linkedin.com" target="_blank" rel="noopener">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container copyright">
                © 2021 X-Versity
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>