{% extends "base.html" %}
{% block content %}

<h3 class="center-align header-text">Edit Course</h3>
ß
<div class="admin-background z-depth-1">
    <!-- Delete Course -->
    <button href="#delete-box" class="btn-flat left send-button waves-effect delete-button modal-trigger">
        Delete Course<i class="fas fa-trash-alt prefix right"></i>
    </button>
    <!-- Delete Box -->
    <div id="delete-box" class="modal">
        <div class="modal-content">
            <h4>Are you sure you want to delete course: {{ course.course_name.upper() }}? </h4>
            <p>You will not be able to restore the data.</p>
            <a href="{{ url_for('delete_course', course_id=course._id) }}"
                class="modal-close waves-effect btn-flat delete-btn">
                Delete: {{ course.course_name.upper() }} <i class="fas fa-file-alt prefix right"></i>
            </a>
            <a class="modal-close waves-effect btn-flat edit-btn">
                Go back<i class="fas fa-undo prefix right"></i>
            </a>
        </div>
    </div>
    <div class="row card-panel add-course-box z-depth-3">
        <form class="col s12 prefix" method="POST" action="{{ url_for('edit_course', course_id=course._id) }}">
            <!-- Course Name -->
            <div class="row">
                <div class="input-field col s12" method="POST" action="">
                    <i class="fas fa-book prefix all-icons"></i>
                    <input id="course_name" name="course_name" type="text" value="{{ course.course_name.upper() }}"
                        class="validate" minlength="2" maxlength="20" required>
                    <label for="course_name">Course Name:</label>
                </div>
            </div>
            <!-- Submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <a href="{{ url_for('get_courses') }}" class="btn-large send-button waves-effect">
                        Cancel<i class="fas fa-times-circle right"></i>
                    </a>
                    <button type="submit" class="btn-large save-btn waves-effect">
                        Edit Course <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}