{% extends "base.html" %}
{% block content %}

<div class="home-background z-depth-3">
    <div class="hero-image">
        <div class="hero-text">
            <h1>
                <a href="" class="typewrite" data-period="2000"
                    data-type='[ "Study With Ease", "Learn New Things", "Study On The Trip", "I Love To Learn.", "I Love To Teach" ]'>
                    <span class="wrap"></span>
                </a>
            </h1>
        </div>
    </div>
    <div class="button-hero-box">
        {% if session.user %}
            <a href="{{ url_for('profile', username=session['user']) }}" class="btn-large home-button waves-effect z-depth-2">Get started</a>
        {% else %}
            <a href="{{ url_for('register') }}" class="btn-large home-button waves-effect z-depth-2">Get started</a>
        {% endif %}
    </div>
</div>

{% endblock %}