{% extends "base.html" %}
{% block content %}

<body>
  <!-- Scrollspy -->
  <div class="scrollspy-box">
    <div class="col s12 m9 l10">
      <ul class="section table-of-contents">
        {% for lesson in lessons %}
        <li><a href="#{{ lesson.lesson_nr }}." class="option">{{ lesson.lesson_nr }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <!-- Lessons -->
  {% for lesson in lessons %}
  <div class="block lighten-2 white-text">
    <div class="lighten-2">
      <div class="container">
        <div id="{{ lesson.lesson_nr }}." class="lesson-title scrollspy section">{{ lesson.lesson_nr }}.
          {{ lesson.lesson_title }}
          {% if lesson.is_mandatory == "on" %}
          <i class="fas fa-exclamation-circle mandatory tooltipped" data-position="right" data-tooltip="Mandatory"></i>
          {% endif %}
        </div>
      </div>
    </div>
    <div id="{{ lesson.lesson_nr }}" class="container lesson-frame lesson-box">
      <h4 class="description-text">{{ lesson.lesson_description }}</h4>
      <!-- Video -->
      {% if lesson.has_video == "on" %}
      <h6 class="lesson-media-text"><i class="fas fa-file-video lesson-icons"></i>This lesson contains video:</h6>
      <div class="col video-box s12">
        <iframe id="player" type="text/html" src="{{ lesson.lesson_video }}" frameborder="0" allow="encrypted-media;"
          allowfullscreen>
        </iframe>
      </div>
      {% endif %}
      <!-- Audio -->
      {% if lesson.has_audio == "on" %}
      <h6 class="lesson-media-text"><i class="fas fa-file-audio lesson-icons"></i>This lesson contains audio:</h6>
      <div class="audio-box">
        <audio controls src="{{ url_for('static', filename=lesson.lesson_audio) }}">
          Your browser does not support the
          <code>audio</code> element.
        </audio>
      </div>
      {% endif %}
      <!-- Student Lesson Actions -->
      {% if lesson.has_submission == "on" %}
      <h5 class="assignment-label">Assignment: <strong class="assignment">{{ lesson.lesson_test }}</strong></h5>
      {% endif %}
      {% if lesson.has_text_answer == "on" %}
      <div id="student_upload" class="student-text z-depth-2">
        <form>
          <div class="row">
            <div class="input-field">
              <textarea id="student_answer" name="student_answer" class="materialize-textarea student-text validate"
                data-length="2000" minlength="5"></textarea>
              <label for="student_answer">Your answer:</label>
            </div>
          </div>
        </form>
      </div>
      <div class="container center">
        <button type="submit" class="btn-large send-button">Submit</button>
      </div>
      {% endif %}
      {% if lesson.has_file_answer == "on" %}
      <div class="row file-upload center">
        <form id="fileForm" name="fileForm" class="student-upload" max-size="5mb" action="#">
          <div class="file-field input-field">
            <div class="btn-small file-button">
              <i class="fas fa-paperclip file-btn"></i>
              <input type="file" multiple>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Upload one or more files">
            </div>
          </div>
          <button type="submit" class="btn-large send-button">Submit</button>
        </form>
      </div>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</body>
{% endblock %}