{% extends "base.html" %}
{% block content %}

<body>
  <!-- Scrollspy -->
  <div class="scrollspy-box">
    <div class="col s12 m9 l10">
      <ul class="section table-of-contents">
        {% for lesson in lessons %}
        <li><a href="#{{ lesson.lesson_nr }}." class="option">{{ lesson.lesson_nr }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <!-- Lessons -->
  {% for lesson in lessons %}
  <div class="block lighten-2 white-text">
    <div class="lighten-2">
      <div class="container">
        <div id="{{ lesson.lesson_nr }}." class="lesson-title scrollspy section">{{ lesson.lesson_nr }}.
          {{ lesson.lesson_title }}
          {% if lesson.is_mandatory == "on" %}
          <i class="fas fa-exclamation-circle mandatory tooltipped" data-position="right" data-tooltip="Mandatory"></i>
          {% endif %}
        </div>
      </div>
    </div>
    <div id="{{ lesson.lesson_nr }}" class="container lesson-frame lesson-box">
      <h4 class="description-text">{{ lesson.lesson_description }}</h4>
      <!-- Student Lesson Actions -->
      {% if lesson.has_submission == "on" %}
        <div class="student-action-box">
          <div style="position: absolute;" class="fixed-action-btn">
            <a class="btn-floating btn-large deep-orange accent-3">
              <i class="fas fa-folder-plus"></i>
            </a>
            <ul>
              <li><a class="btn-floating"><i class="fas fa-paperclip"></i></a>
                <p class="center">Attach</p>
              </li>
              <li><a class="btn-floating"><i class="far fa-save"></i></a>
                <p class="center">Save</p>
              </li>
              <li><a class="btn-floating pulse"><i class="far fa-share-square"></i></a>
                <p class="center">Submit</p>
              </li>
            </ul>
          </div>
        </div>
      {% endif %}
      <!-- Video -->
      {% if lesson.has_video == "on" %}
      <h6><i class="fas fa-file-video lesson-icons"></i>This lesson contains a video:</h6>
      <div class="video-box">
        <iframe id="player" type="text/html" src="{{ lesson.lesson_video }}" frameborder="0" allow="encrypted-media;"
          allowfullscreen>
        </iframe>
      </div>
      {% endif %}
      <!-- Audio -->
      {% if lesson.has_audio == "on" %}
      <h6><i class="fas fa-file-audio lesson-icons"></i>This lesson contains audio:</h6>
      <div class="audio-box">
        <audio controls src="{{ url_for('static', filename=lesson.lesson_audio) }}">
          Your browser does not support the
          <code>audio</code> element.
        </audio>
      </div>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</body>
{% endblock %}
