{% extends "base.html" %}
{% block content %}

<h3 class="center-align header-text">REGISTER</h3>

<div class="row register-box z-depth-1">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
        <div class="card-panel register-frame">
            <div class="row">
                <form class="col s12">
                    <!-- Name -->
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="username" id="username" type="text" minlength="5" maxlength="35"
                                pattern="^[a-zA-Z0-9äæöøüÄÆÖØÜ ]*$" class="validate" required>
                            <label for="username">Name</label>
                        </div>
                    </div>
                    <!-- Email -->
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="email" id="email" type="email" class="validate" required>
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <!-- Password -->
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" name="password" type="password" minlength="5" maxlength="15"
                                pattern="^[a-zA-Z0-9äæöøüÄÆÖØÜ!?@`?=)(/&%€#*§-.,;:_) ]*$" class="validate" required>
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <!-- Role -->
                    <div class="row">
                        <div class="input-field col s12">
                            <select name="role" id="role">
                                <option value="student-apply" selected>Student</option>
                                <option value="teacher-apply">Teacher</option>
                                <option value="school-apply">School</option>
                                <option value="parent-apply">Parent</option>
                            </select>
                            <label for="role">Register as a:</label>
                        </div>
                    </div>
                    <!-- Applies for Course -->
                    <div class="row">
                        <div class="input-field col s12">
                            <select name="apply_course" id="apply_course" class="validate" required>
                            <option value="python" selected>Python</option>
                            <option value="entrepreneurship">Entrepreneurship</option>
                            <option value="math">Math</option>
                            <option value="webdesign">Webdesign</option>
                            </select>
                            <label for="apply_course">Apply for a Course in:</label>
                        </div>
                    </div>
                    <!-- Submit -->
                    <div class="row" style="margin-top: 70px; padding-left: 10px;">
                        <button type="submit" class="btn-large waves-effect buttons">
                            Register
                        </button>
                    </div>
            </div>
    </form>
</div>
<div class="row">
    <div class="col s12">
        <p class="center-align">
            Already Registered?
            <a href="{{ url_for('login') }}" class="login-register-check">Log In</a>
        </p>
    </div>
</div>

{% endblock %}